# Node modules
node_modules/

# TypeScript build files
*.js
*.d.ts
*.map

# Output folder
/dist

# Ignore semua file dalam folder data
data/*

# Kecualikan folder data itu sendiri agar tetap ter-upload (folder kosong akan tetap ter-upload)
!data/

.env
